<h1>Album: <%= @album.title %></h1>
<br>

<table>
  <tr>
    <th>Band</th>
    <th>Title</th>
    <th>Type</th>
  </tr>
  <tr>
    <td><%= @band.name %></td>
    <td><%= @album.title %></td>
    <td><%= @album.kind %></td>
  </tr>
</table>
<br>
<br>

<label>Tracks:</label>
<% if @tracks %>
<ul>
  <% @tracks.each do |track| %>
    <li><a href="<%= track_url(track) %>"><%= track.title %></a></li>
  <% end %>
</ul>
<% end %>
<br>

<% if admin? %>
  <a href="<%= new_album_track_url(@album) %>">New Track</a>
  <br>
  <a href="<%= edit_album_url(@album) %>">Edit <%= @album.title %></a>
  <br>

  <form action="<%= album_url(@album) %>" method="post">
    <%= authenticity_token %>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Destroy Album">
  </form>
  <br>
<% end %>

<a href="<%= band_url(@band) %>">Back to <%= @band.name %>'s Index</a>
