<% action = (verb == "post" ? albums_url : album_url(album)) %>
<% button_text = (verb == "post" ? "Create Album" : "Update Album") %>

<form action="<%= action %>" method="post">

  <label for="album_title">Album Title:</label>
  <input type="text" name="album[title]" value="<%= @album.title %>" id="album_title">
  <br>

  <label for="album_band_id">Band:</label>
  <select name="album[band_id]" id="album_band_id">
    <% Band.all.each do |band| %>
    <option value="<%= band.id %>" <%= "selected" if band.id == @album.band_id %>>
      <%= band.name %>
    </option>
    <% end %>
  </select>
  <br>

  <label for="album_kind_live">Live Album:</label>
  <input type="radio"
         name="album[kind]"
         value="live"
         id="album_kind_live"
         <%= "checked" if @album.kind == "live" %>>

  <label for="album_kind_studio">Studio Album:</label>
  <input type="radio"
         name="album[kind]"
         value="studio"
         id="album_kind_studio"
         <%= "checked" if @album.kind == "studio" %>>
  <br>

  <%= authenticity_token %>

  <% if verb == "patch" %>
  <%= '<input type="hidden" name="_method" value="patch">'.html_safe %>
  <% end %>

  <input type="submit" value="<%= button_text %>">
</form>
