<% if current_user.id == @sub.moderator_id %>
  <%= link_to "Edit Sub", edit_sub_url(@sub) %>
<% end %>
<div>
  <%= @sub.title %>
</div>

<div>
  <%= @sub.description %>
</div>

<% @posts.each do |post| %>
  <div>
    <h3><%= link_to post.title, post.url %></h3>
    <p>
      <%= post.content %>
    </p>
    Author: <%= post.author.username %>
    Votes: <%= post.vote_total %>

    <form action="<%= upvote_post_url(post) %>" method="post">
      <%= form_token %>
      <input type="submit" value="Upvote">
    </form>

    <form action="<%= downvote_post_url(post) %>" method="post">
      <%= form_token %>
      <input type="submit" value="Downvote">
    </form>

  </div>
<% end %>
