<% button_text = sub.persisted? ? "Update" : "Create" %>
<% method = sub.persisted? ? "<input type='hidden' name='_method' value='PATCH'>" : "" %>

<form action="<%= the_url %>" method="POST">
  <%= method %>
  <%= form_token %>

  <label for="sub_title">Title</label>
  <input type="text" name="sub[title]" id="sub_title" value="<%= sub.title %>">

  <label for="sub_description">Description</label>
  <textarea name="sub[description]" id="sub_description"><%= sub.description %></textarea>

  <input type="submit" name="<%= button_text %>">
</form>
