<h1> Show <%= @cat.name.upcase %>!!!!</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Birthday</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description%></td>
  </tr>
</table>

<ul>
  <% @requests.each do |request| %>
    <li>
      <%= "#{request.start_date} to #{request.end_date} Status: #{request.status}" %>
      <% if request.pending? %>
        <%= button_to "Approve", {controller: :cat_rental_requests,
                action: :approve}, method: 'patch' %>
        <%= button_to "Deny", {controller: :cat_rental_requests,
                action: :deny}, method: 'patch' %>
      <% end %>
    </li>
  <% end %>
</ul>

<a href="<%=edit_cat_url(@cat)%>">Edit this here cat</a>
<br/>
<a href="<%=new_cat_rental_request_url%>?cat%5bid%5d%3d<%= @cat.id %>">
  Make a request for this amazingly cute cat
</a>
<br/>
<a href="<%=cats_url%>">Back to the great list O' cats</a>
