<h1> Show <%= @cat.name.upcase %>!!!!</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Birthday</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description%></td>
  </tr>
</table>

<ul>
  <% @requests.each do |request| %>
    <li>
      <%= "#{request.start_date} to #{request.end_date}" %> 
    </li>
  <% end %>
</ul>
